@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body{
  font-family: "Press Start 2P";
  color: white;
  background-color: rgb(15, 10, 61);
}

h1 {
font-size: 90px;
}

.canvas{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;

}

.splash{
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;

}

.strtButton{
  background-color: #E8562A;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.newMission{
  font-size: 24px;
  cursor: pointer;
  background-color: #E8562A;
  color: white;
  align-items: center;
}

.restart1{
  font-size: 24px;
  cursor: pointer;
  background-color: #E8562A;
  color: white;

}

.looseScreen{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(15, 10, 61);
  color: #E8562A;

}

