@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body{
  font-family: "Press Start 2P";
  color: white;
  background-color: rgb(15, 10, 61);


}
h1 {
font-size: 90px;
}

.canvas{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

.splash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

}


.youwon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.button{
  background-color: #E8562A;
  border: turquoise;
  font-size: 24px;
}
.restartbtn{
  display: flex;
  align-content: center;
  margin-top: center;
  margin-left: center;
  width: 70px; 
  height: 30px; 
  text-align: center;
  border: gray;
  background-color: #E8562A;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}